.p_func {
    .p_func_item {
        .flex-row .form-control {
            max-width: 90px;
            margin: 0 6px;
        }
    }
}

.myTable {
    td {
        white-space: normal !important;
    }
}